
Lesson04/.vs/Lesson04/v15/.suo
Lesson04/.vs/Lesson04/v15/Browse.VC.db
Lesson04/.vs/Lesson04/v15/Browse.VC.opendb
Lesson04/Binaries/Win64/Lesson04Editor.target
Lesson04/Binaries/Win64/UE4Editor-Lesson04-1894.dll
Lesson04/Binaries/Win64/UE4Editor-Lesson04-1894.pdb
Lesson04/Binaries/Win64/UE4Editor-Lesson04-2049.dll
Lesson04/Binaries/Win64/UE4Editor-Lesson04-2049.pdb
Lesson04/Binaries/Win64/UE4Editor-Lesson04-5397.dll
Lesson04/Binaries/Win64/UE4Editor-Lesson04-5397.pdb
Lesson04/Binaries/Win64/UE4Editor-Lesson04-5823.dll
Lesson04/Binaries/Win64/UE4Editor-Lesson04-5823.pdb
Lesson04/Binaries/Win64/UE4Editor-Lesson04-6433.dll
Lesson04/Binaries/Win64/UE4Editor-Lesson04-6433.pdb
Lesson04/Binaries/Win64/UE4Editor-Lesson04-9665.dll
Lesson04/Binaries/Win64/UE4Editor-Lesson04-9665.pdb
Lesson04/Binaries/Win64/UE4Editor-Lesson04-9717.dll
Lesson04/Binaries/Win64/UE4Editor-Lesson04-9717.pdb
Lesson04/Binaries/Win64/UE4Editor-Lesson04.dll
Lesson04/Binaries/Win64/UE4Editor-Lesson04.pdb
Lesson04/Binaries/Win64/UE4Editor.modules
Lesson04/Intermediate/AssetRegistryCache/12424d50.bin
Lesson04/Intermediate/AssetRegistryCache/1d5167fa.bin
Lesson04/Intermediate/AssetRegistryCache/1f683343.bin
Lesson04/Intermediate/AssetRegistryCache/2657c409.bin
Lesson04/Intermediate/AssetRegistryCache/26b732ab.bin
Lesson04/Intermediate/AssetRegistryCache/29c3675e.bin
Lesson04/Intermediate/AssetRegistryCache/30e2b9c2.bin
Lesson04/Intermediate/AssetRegistryCache/3f498079.bin
Lesson04/Intermediate/AssetRegistryCache/44c3f9c9.bin
Lesson04/Intermediate/AssetRegistryCache/50a675f9.bin
Lesson04/Intermediate/AssetRegistryCache/52ed2538.bin
Lesson04/Intermediate/AssetRegistryCache/564bef5d.bin
Lesson04/Intermediate/AssetRegistryCache/5a627529.bin
Lesson04/Intermediate/AssetRegistryCache/7088d2e9.bin
Lesson04/Intermediate/AssetRegistryCache/866581fd.bin
Lesson04/Intermediate/AssetRegistryCache/8c0e1344.bin
Lesson04/Intermediate/AssetRegistryCache/8e9331e2.bin
Lesson04/Intermediate/AssetRegistryCache/94c5d5a7.bin
Lesson04/Intermediate/AssetRegistryCache/995fc7f5.bin
Lesson04/Intermediate/AssetRegistryCache/bf121eca.bin
Lesson04/Intermediate/AssetRegistryCache/c9e91a3f.bin
Lesson04/Intermediate/AssetRegistryCache/cef2e191.bin
Lesson04/Intermediate/AssetRegistryCache/cff8f772.bin
Lesson04/Intermediate/AssetRegistryCache/f0d5030c.bin
Lesson04/Intermediate/Build/ActionHistory.bin
Lesson04/Intermediate/Build/BuildRules/Lesson04ModuleRules.dll
Lesson04/Intermediate/Build/BuildRules/Lesson04ModuleRules.pdb
Lesson04/Intermediate/Build/BuildRules/Lesson04ModuleRulesSourceFiles.txt
Lesson04/Intermediate/Build/Unused/Lesson04.log
Lesson04/Intermediate/Build/Win64/Lesson04Editor/DependencyCache.bin
Lesson04/Intermediate/Build/Win64/Lesson04Editor/Development/Deploy.dat
Lesson04/Intermediate/Build/Win64/Lesson04Editor/Development/Engine/SharedPCH.Engine.cpp
Lesson04/Intermediate/Build/Win64/Lesson04Editor/Development/Engine/SharedPCH.Engine.h
Lesson04/Intermediate/Build/Win64/Lesson04Editor/Development/Engine/SharedPCH.Engine.h.obj
Lesson04/Intermediate/Build/Win64/Lesson04Editor/Development/Engine/SharedPCH.Engine.h.pch
Lesson04/Intermediate/Build/Win64/Lesson04Editor/Development/Engine/SharedPCH.Engine.h.pch.response
Lesson04/Intermediate/Build/Win64/Lesson04Editor/Development/HotReloadMakefile.ubt
Lesson04/Intermediate/Build/Win64/Lesson04Editor/Development/Lesson04Editor.deps
Lesson04/Intermediate/Build/Win64/Lesson04Editor/Development/Lesson04Editor.uhtmanifest
Lesson04/Intermediate/Build/Win64/Lesson04Editor/FlatCPPIncludes.bin
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/Definitions.Lesson04.h
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/Definitions.Lesson04.h.prev
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/Lesson04.cpp.obj
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/Lesson04.cpp.obj.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/Lesson04.cpp.obj.response.prev
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/Lesson04.init.gen.cpp.obj
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/Lesson04.init.gen.cpp.obj.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/Lesson04.init.gen.cpp.obj.response.prev
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/Lesson04GameModeBase.cpp.obj
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/Lesson04GameModeBase.cpp.obj.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/Lesson04GameModeBase.cpp.obj.response.prev
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/Lesson04GameModeBase.gen.cpp.obj
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/Lesson04GameModeBase.gen.cpp.obj.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/Lesson04GameModeBase.gen.cpp.obj.response.prev
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/PawnWithCamera.cpp.obj
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/PawnWithCamera.cpp.obj.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/PawnWithCamera.gen.cpp.obj
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/PawnWithCamera.gen.cpp.obj.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/PCLaunch.rc.res
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-1894.dll.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-1894.exp
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-1894.lib
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-1894.lib.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-1894.suppressed.exp
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-1894.suppressed.lib
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-2049.dll.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-2049.exp
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-2049.lib
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-2049.lib.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-2049.suppressed.exp
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-2049.suppressed.lib
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-5397.dll.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-5397.exp
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-5397.lib
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-5397.lib.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-5397.suppressed.exp
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-5397.suppressed.lib
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-5823.dll.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-5823.exp
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-5823.lib
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-5823.lib.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-5823.suppressed.exp
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-5823.suppressed.lib
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-5977.dll.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-5977.lib.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-6433.dll.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-6433.exp
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-6433.lib
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-6433.lib.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-6433.suppressed.exp
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-6433.suppressed.lib
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-805.dll.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-805.lib.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-9665.dll.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-9665.exp
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-9665.lib
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-9665.lib.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-9665.suppressed.exp
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-9665.suppressed.lib
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-9717.dll.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-9717.exp
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-9717.lib
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-9717.lib.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-9717.suppressed.exp
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-9717.suppressed.lib
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-9752.dll.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04-9752.lib.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04.dll.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04.exp
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04.lib
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04.lib.response
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04.suppressed.exp
Lesson04/Intermediate/Build/Win64/UE4Editor/Development/Lesson04/UE4Editor-Lesson04.suppressed.lib
Lesson04/Intermediate/Build/Win64/UE4Editor/Inc/Lesson04/Lesson04.init.gen.cpp
Lesson04/Intermediate/Build/Win64/UE4Editor/Inc/Lesson04/Lesson04Classes.h
Lesson04/Intermediate/Build/Win64/UE4Editor/Inc/Lesson04/Lesson04GameModeBase.gen.cpp
Lesson04/Intermediate/Build/Win64/UE4Editor/Inc/Lesson04/Lesson04GameModeBase.generated.h
Lesson04/Intermediate/Build/Win64/UE4Editor/Inc/Lesson04/PawnWithCamera.gen.cpp
Lesson04/Intermediate/Build/Win64/UE4Editor/Inc/Lesson04/PawnWithCamera.generated.h
Lesson04/Intermediate/Build/Win64/UE4Editor/Inc/Lesson04/Timestamp
Lesson04/Intermediate/CachedAssetRegistry.bin
Lesson04/Intermediate/Config/CoalescedSourceConfigs/ActorSequence.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/AISupport.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/AlembicImporter.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/AndroidDeviceProfileSelector.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/AndroidMedia.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/AndroidMoviePlayer.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/AndroidPermission.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/AppleImageUtils.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/AppleMoviePlayer.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/AppleVision.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/ArchVisCharacter.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/AssetManagerEditor.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/AudioCapture.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/AvfMedia.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/BackChannel.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/CableComponent.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/CharacterAI.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/CLionSourceCodeAccess.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/CodeLiteSourceCodeAccess.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/Compat.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/CryptoKeys.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/CustomMeshComponent.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/DatasmithContent.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/DataValidation.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/DeviceProfiles.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/EditableMesh.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/Editor.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/EditorKeyBindings.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/EditorLayout.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/EditorPerProjectUserSettings.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/EditorSettings.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/ExampleDeviceProfileSelector.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/FacialAnimation.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/Game.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/GameplayTags.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/GameplayTagsEditor.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/GameplayTagsList.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/GeometryCache.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/GitSourceControl.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/GoogleCloudMessaging.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/Hardware.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/HTML5Networking.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/ImgMedia.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/ImmediatePhysics.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/Input.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/IOSDeviceProfileSelector.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/KDevelopSourceCodeAccess.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/LauncherChunkInstaller.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/LevelSequenceEditor.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/Lightmass.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/LightPropagationVolume.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/LinearTimecode.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/LinuxDeviceProfileSelector.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/LocationServicesBPLibrary.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/MacGraphicsSwitching.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/MagicLeap.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/MagicLeapEmulator.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/MagicLeapMedia.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/MatineeToLevelSequence.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/MediaCompositing.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/MediaPlayerEditor.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/MeshEditor.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/MobileLauncherProfileWizard.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/MobilePatchingUtils.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/NetcodeUnitTest.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/NullSourceCodeAccess.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/NUTUnrealEngine4.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/OculusVR.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystem.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemGooglePlay.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemIOS.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemNull.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemUtils.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/Paper2D.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/PerforceSourceControl.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/PhysXVehicles.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/PluginBrowser.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/ProceduralMeshComponent.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/ProxyLODPlugin.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/RuntimePhysXCooking.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/Scalability.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/SpeedTreeImporter.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/SteamVR.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/SubversionSourceControl.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/TcpMessaging.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/TemplateDefs.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/UdpMessaging.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/UEAnimaLoader.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/UnitTest.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/UnitTestStats.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/UObjectPlugin.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/VisualStudioCodeSourceCodeAccess.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/VisualStudioSourceCodeAccess.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/WindowsMoviePlayer.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/WmfMedia.ini
Lesson04/Intermediate/Config/CoalescedSourceConfigs/XCodeSourceCodeAccess.ini
Lesson04/Intermediate/ProjectFiles/Lesson04.vcxproj
Lesson04/Intermediate/ProjectFiles/Lesson04.vcxproj.filters
Lesson04/Intermediate/ProjectFiles/Lesson04.vcxproj.user
Lesson04/Intermediate/ProjectFiles/UE4.vcxproj
Lesson04/Intermediate/ProjectFiles/UE4.vcxproj.filters
Lesson04/Intermediate/ProjectFiles/UE4.vcxproj.user
Lesson04/Intermediate/ReimportCache/3688439234.bin
Lesson04/Saved/Autosaves/Game/Blueprints/BPPawnWithCamera_Auto1.uasset
Lesson04/Saved/Autosaves/Game/Blueprints/BPPawnWithCamera_Auto2.uasset
Lesson04/Saved/Autosaves/Game/Blueprints/BPPawnWithCamera_Auto3.uasset
Lesson04/Saved/Autosaves/PackageRestoreData.json
Lesson04/Saved/AutoScreenshot.png
Lesson04/Saved/Backup/Main_2018-09-06-12-49-17.umap
Lesson04/Saved/Config/CrashReportClient/UE4CC-Windows-71EBC70E400EEF782C4F1CB28F791F1B/CrashReportClient.ini
Lesson04/Saved/Config/Windows/Compat.ini
Lesson04/Saved/Config/Windows/DeviceProfiles.ini
Lesson04/Saved/Config/Windows/Editor.ini
Lesson04/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Lesson04/Saved/Config/Windows/Engine.ini
Lesson04/Saved/Config/Windows/Game.ini
Lesson04/Saved/Config/Windows/GameUserSettings.ini
Lesson04/Saved/Config/Windows/Hardware.ini
Lesson04/Saved/Config/Windows/Input.ini
Lesson04/Saved/Config/Windows/Lightmass.ini
Lesson04/Saved/Config/Windows/OculusVR.ini
Lesson04/Saved/Config/Windows/Paper2D.ini
Lesson04/Saved/Config/Windows/PhysXVehicles.ini
Lesson04/Saved/Config/Windows/Scalability.ini
Lesson04/Saved/Config/WorldState/829521819.json
Lesson04/Saved/Logs/Lesson04.log
